{{#if bulkSelectEnabled}}
  <td class='star'>
    <input type="checkbox" class="bulk-select">
  </td>
{{/if}}

<td class='main-link clearfix'>
  <div>
    {{topic-link topic}}
    {{raw "topic-status" topic=topic}}
  </div>
  {{plugin-outlet "topic-list-after-title"}}
  {{#if topic.tags}}
    <div class='discourse-tags'>
    {{#each topic.visibleListTags as |tag|}}
      {{discourse-tag tag}}
    {{/each}}
    </div>
  {{/if}}
  {{plugin-outlet "topic-list-tags"}}
  {{#if expandPinned}}
    {{raw "list/topic-excerpt" topic=topic}}
  {{/if}}
  {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}

  <div class="idnet info-below-topic-title">
    <span>by</span>
    <a href="{{topic.creatorUrl}}" class="user-link">{{topic.creator.username}}</a>
    <span class="dot-separator"></span>
    {{format-date topic.createdAt format="medium-with-ago"}}
    <span class='category'>{{category-link topic.category}}</span>
  </div>
</td>

<td class="num likes idnet stats-cnt">
  <div>{{i18n 'likes'}}</div>
  {{number topic.like_count}}
</td>

<td class="num views idnet stats-cnt {{topic.viewsHeat}}">
  <div>{{i18n 'views'}}</div>
  {{number topic.views numberKey="views_long"}}
</td>

<td class="num replies idnet stats-cnt">
  <div>{{i18n 'replies'}}</div>
  {{number topic.replyCount}}
</td>

<td class="idnet last-topic">
  <div>{{i18n 'last_post'}}</div>
  {{raw "list/last-topic" topic=topic}}
</td>
